In [1]:
import pandas as pd

In [2]:
eec = pd.read_csv("./Equity-Evaluation-Corpus.csv")

In [6]:
eec.head()

,ID,Sentence,Template,Person,Gender,Race,Emotion,Emotion word
0,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed

In [42]:
# eec is gender binary only
eec["Gender"].unique()

array(['male', 'female'], dtype=object)

In [7]:
sbic = pd.read_csv("./SBIC.v2.dev.csv")

In [8]:
sbic.head()

,whoTarget,intentYN,sexYN,sexReason,offensiveYN,annotatorGender,annotatorMinority,sexPhrase,speakerMinorityYN,WorkerId,HITId,annotatorPolitics,annotatorRace,annotatorAge,post,targetMinority,targetCategory,targetStereotype,dataSource
0,1.0,1.0,0.0,NaN,1.0,woman,NaN,NaN,0.0,2428559182657536645,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,29.0,Every half-breed cop in America is trying to r...,police officers,social,rape women,t/davidson
1,1.0,1.0,0.0,NaN,1.0,woman,NaN,NaN,0.0,2428559182657536645,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,29.0,Every half-breed cop in America is trying to r...,police officers,social,NaN,t/davidson
2,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,mixed folks,race,mixed folks are rapists.,t/davidson
3,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,mixed folks,race,mixed folks like white women.,t/davidson
4,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,cops,social,cops can't be trusted.,t/davidson

In [38]:
sbic[["sexYN", "sexReason", "sexPhrase", "offensiveYN", "targetCategory", "targetStereotype"]]

,sexYN,sexReason,sexPhrase,offensiveYN,targetCategory,targetStereotype
0,0.0,NaN,NaN,1.0,social,rape women
1,0.0,NaN,NaN,1.0,social,NaN
2,1.0,rape,rape white women,1.0,race,mixed folks are rapists.
3,1.0,rape,rape white women,1.0,race,mixed folks like white women.
4,1.0,rape,rape white women,1.0,social,cops can't be trusted.
...,...,...,...,...,...,...
16733,0.0,NaN,NaN,0.0,NaN,NaN
16734,0.0,NaN,NaN,0.5,NaN,NaN
16735,0.0,NaN,NaN,0.0,NaN,NaN
16736,0.0,NaN,NaN,0.5,NaN,NaN
16737,0.0,NaN,NaN,1.0,NaN,NaN

In [16]:
sbic["targetCategory"].unique()

array(['social', 'race', nan, 'gender', 'disabled', 'body', 'culture',
       'victim'], dtype=object)

In [39]:
sbic["sexYN"].unique()

array([0. , 1. , 0.5])

In [41]:
Setsbic["offensiveYN"].unique()

array([1. , 0. , 0.5, nan])

In [43]:
rtgender = pd.read_csv("./annotations.csv")

In [44]:
rtgender

,source,op_gender,post_text,response_text,sentiment,relevance
0,facebook_wiki,W,Stopped by Fashion Week and got to hang with A...,You are Both Sweet Ashley Tisdale and Lauren C...,Positive,Poster
1,facebook_wiki,M,"Well guys, real progress is happening. I'm 50 ...",Give us the first page to read. ONE PAGE.,Mixed,Content
2,facebook_wiki,W,Tonight is going to be a good night #PerfectMo...,this is my city was there 2 weeks a go,Neutral,Content
3,facebook_wiki,M,I know grandma Gilmore is real proud of you ht...,if grizzly Adams had a beard.,Neutral,Content
4,facebook_wiki,W,#NEWS to KNOW this AM - Mayor Emanuel will mak...,"Good morning Lourdes, have a great day! Great ...",Positive,Irrelevant
...,...,...,...,...,...,...
15347,ted,W,"Jane McGonigal gave a talk about computers, de...",YAY! I am so happy to see this talk up! I enjo...,Positive,ContentPoster
15348,ted,W,"Dambisa Moyo gave a talk about Africa, Asia, c...","EU, USA,CHINA none of the above have Africa at...",Neutral,Content
15349,ted,M,"Jim Al-Khalili gave a talk about biology, bird...",He explained his self very well. not sure how ...,Mixed,ContentPoster
15350,ted,M,Stephen Hawking gave a talk about String theor...,Mr. Tavares. Thank you for your insight. My on...,Neutral,Irrelevant
15351,ted,W,"Annie Murphy Paul gave a talk about children, ...",hi Nibedita! I was thinking about same story y...,Positive,Content

In [45]:
fbcongress_posts = pd.read_csv("./facebook_congress_posts.csv")

In [46]:
fbcongress_posts.head()

,op_id,op_gender,post_id,post_text,post_type
0,57265377,M,0,"Yesterday, my colleagues and I voted to protec...",video
1,57265377,M,1,Roses are red...and so is Texas. Let's keep it...,video
2,57265377,M,2,#TBT to this classic video. #DonkeyWhisperer,video
3,57265377,M,3,Since President Donald J. Trump was sworn in o...,video
4,57265377,M,4,Remembering our 40th president today. LIKE to ...,video

In [47]:
fitocracy_posts = pd.read_csv("./fitocracy_posts.csv")

In [48]:
fitocracy_posts.head()

   op_id op_gender  post_id                                          post_text
0    102         W        0  Thanks for the follow!  I followed back :)  I ...
1    104         W        1  I've decided I have this crazy goal of running...
2    104         W        2  Umm, yeah, so those are assisted pull-ups. Bef...
3    117         M        3        dam gurl lookin mad tone in dat pp holla bb
4    117         M        4                         What's up there bear mode?

In [49]:
fitocracy_response = pd.read_csv("./fitocracy_responses.csv")

In [50]:
fitocracy_response.head()

,op_id,op_gender,post_id,responder_id,response_text,responder_gender
0,102,W,0,1196122,One day at a time! =],M
1,104,W,1,5867,Crazy is synonymous with awesome in this case.,W
2,104,W,2,1635,You can enter assisted pullups. Select pullups...,M
3,117,M,3,8520,"Mirin 3% bodyfat? Yeah, you are.",W
4,117,M,4,29126,"Hey! I just started a new job, so things are s...",M

In [60]:
semeval_a = pd.read_csv("./test_a_labels.csv", names=["id", "label"])
semeval_a_tweets = pd.read_csv("test_a_tweets.tsv", sep="\t")

In [61]:
semeval_a.head()

   id label
0  A0   OFF
1  A1   OFF
2  A2   NOT
3  A3   NOT
4  A4   NOT

In [57]:
semeval_a_tweets.head()

   id                                              tweet
0  A0                             ¿Who the fuck is Yoru?
1  A1  @USER @USER He's an evil law breaker that shou...
2  A2  Now hiring for 49 #Labor job opportunities in ...
3  A3  #NerkondaPaarvai' - As Of Now, There Is NO Ear...
4  A4  @USER Hahahaha I wish...but a week is good, I’...

In [66]:
semeval = semeval_a.merge(semeval_a_tweets, on="id")

In [68]:
semeval.label.unique()

array(['OFF', 'NOT'], dtype=object)